<%- include("partials/header.ejs") %>

<% if ((locals.books) && books.length > 0) { %>
  <% books.forEach(book => { %>
    <div id="<%= book.id %>" class="p-5 mb-4 bg-body-tertiary rounded-3 flex">
      <div class="container-fluid py-5">
        <img src="<%= book.coverUrl %>" alt="" class="img-thumbnail rounded float-end img-fluid ">
        <h1 class="display-5 fw-bold"><%= book.title %></h1>
        <p class="col-md-8 fs-4"><%= book.opinion %></p>
        <a href="/editbook"><button class="btn btn-primary btn-lg" type="button">Edit</button></a>
        <a href="/deletebook" name="deleteBookId" value="<%= book.id %>"><button class="btn btn-danger btn-lg" type="button">Delete</button></a>
        <a href="/addbook"><button class="btn btn-success btn-lg" type="button">Add Book</button></a>
      </div>
    </div>
  <% }); %>
<% } else { %>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 flex">
    <div class="container-fluid py-5">
      <h1>Found no books to display.</h1>
      <a href="/editbook"><button class="btn btn-primary btn-lg" type="button">Edit</button></a>
      <a href="/deletebook"><button class="btn btn-danger btn-lg" type="button">Delete</button></a>
      <a href="/addbook"><button class="btn btn-success btn-lg" type="button">Add Book</button></a>
    </div>
  </div>
<% } %>



<%- include("partials/footer.ejs") %>